<mat-sidenav-container class="sidebar-container">
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>
      <mat-list class="app-class">  
        <a routerLink="/user" routerLinkActive="active" mat-list-item>
          <div class="slidebar-iten">
            <mat-icon >account_circle</mat-icon>
            <span>Minha conta</span>
          </div>
        </a>
        <a routerLink="/donation" routerLinkActive="active" mat-list-item>
          <div class="slidebar-iten">
            <mat-icon >monetization_on</mat-icon>
            <span>Doacões</span>
          </div>
        </a>
        <a  routerLink="/courses" routerLinkActive="active" mat-list-item>
          <div class="slidebar-iten">
            <mat-icon >video_library</mat-icon>
            <span>Cursos</span>
          </div>
        </a>
       </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>
