@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat+Subrayada:wght@700&family=Roboto:ital,wght@1,300&family=Zilla+Slab+Highlight:wght@700&display=swap&family=Bebas+Neue&display=swap&family=Bebas+Neue&family=Monda:wght@700&display=swap');
.title{
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: Bebas Neue;
    border-radius: 25px;
    height: 150px;
}

.center{
    width: 50%;
    margin: auto;
}

.card{
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 5px;
}

.card title{
    background-color: green;
}

.card-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Monda;
}

.card-content{
    font-size: 20px;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Roboto;
    text-align: center;
}

.verde{
    background-color: rgb(141, 238, 141);
}

.vermelho{
    background-color: rgb(253, 128, 128);
}

.azul{
    background-color: rgb(148, 224, 253);
}

.amarelo{
    background-color: rgb(243, 243, 145);
}
